<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
  <%- include('../partials/navbar') %>  
  <div class="welcome-banner">
    <div class="overlay">
      <h1 class="typing-demo">Welcome to Our Library</h1>
      <h2>Discover a word of Knowledge</h2>
    </div>
  </div>
  <%- include('../partials/book-card') %>
  <%- include('../partials/carusel') %>
  <%- include('../partials/footer') %>
  </body>
</html>
